
.record-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record-input-container {
    display: flex;
    flex-direction: column;
}

.save-button {
    margin-top: 20px;
    height: 40px;
}
.view-button{
    margin-top: 10px;
    height: 40px; 
}