header {
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

header button {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

header h1 {
    margin-top: -2px;
}

.list-container {
    margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5,19%);
  padding: 10px;
  gap: 10px;

}
.list-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #D8FCD0;
}